body {
  margin: 0;
  padding: 0;
  background-image: url('../assets/hotview_bg.jpeg');
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  box-sizing: border-box;
  font-family: 'Montserrat', 'Just Another Hand', Arial, sans-serif;
  color: #363732;
}

/* Loader Style */
.loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  display: none; /* Hide loader by default */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

h1, ul {
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Just Another Hand';
  font-size: 70pt;
  font-weight: 100;
}

h2 {
  font-family: 'Montserrat';
  font-size: 40pt;
  color: #ffffff;
}

header, p {
  color: #ffffff;
  padding: 1rem;
  text-align: center;
}

.heading {
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

nav {
  background-color: transparent;
  color: #ffffff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 1rem;
}

.logo img {
  width: 100pt;
  height: 100pt;
  border-radius: 50%;
}

nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
}

/* Search bar */
#search-icon {
  cursor: pointer;
}

#search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 20px;
  display: none;
  width: 200px;
}

#search-input:focus {
  outline: none;
  border-color: #ff80ce;
}

/* Basic styling for the carousel */
#carousel-container {
  border-radius: 8px;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 500px;
  margin-bottom: 50px;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

#carousel > div {
  min-width: 100%;
  box-sizing: border-box;
}

#carousel > div button {
  background-color: #ff80ce;
}

#carousel > div button:hover {
  background-color: #363732;
}

#carousel img {
  width: 100%;
  height: auto;
  display: block;
}

#carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff80ce;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.carousel-item {
  border-radius: 8px;
  position: relative;
  text-align: center;
  color: white;
}

.carousel-content {
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 40%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 20px 0;
  border-radius: 5px;
}

.carousel-title {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}

/* Read More button specifically for the carousel */
.carousel-item .read-more-btn {
  background-color: #ff80ce;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  right: 44%;
  margin-top: 100px;
}

.carousel-item .read-more-btn:hover {
  background-color: black;
}

#prev-btn {
  left: 0;
}

#next-btn {
  right: 0;
}

.material-symbols-outlined {
  font-weight: bold;
}

#carousel-container button {
  background-color: transparent;
}


/* Media queries for responsiveness */
@media (max-width: 1200px) {
  #carousel-container {
    height: 400px;
  }

  .carousel-title {
    font-size: 25px;
  }

  .read-more-btn {
    padding: 8px 16px;
  }
}

@media (max-width: 992px) {
  #carousel-container {
    height: 350px;
  }

  .carousel-title {
    font-size: 20px;
  }

  .read-more-btn {
    padding: 8px 16px;
  }
}

@media (max-width: 768px) {
  #carousel-container {
    height: 300px;
  }

  .carousel-title {
    font-size: 18px;
  }

  .read-more-btn {
    padding: 6px 12px;
  }
  
  nav ul {
    flex-direction: column;
    gap: 1rem;
  }

  header h1 {
    font-size: 2rem;
  }
  .heading {
    color: #ffffff;
  }

  main {
    padding: 1rem 2rem;
  }

  .offerings {
    flex-direction: column;
  }

  #post-form-section {
    padding: 1rem;
  }

  #post-form-section div {
    margin-bottom: 0.5rem;
  }

  #post-form-section label {
    font-size: 14px;
  }

  #post-form-section input[type="text"],
  #post-form-section input[type="url"],
  #post-form-section input[type="date"],
  #post-form-section textarea {
    padding: 8px;
    font-size: 14px;
  }

  #post-form-section button[type="submit"],
  #create-post-btn {
    font-size: 14px;
    padding: 8px 16px;
  }

  #thumbnails-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  #carousel-container {
    height: 250px;
  }

  .carousel-title {
    font-size: 16px;
  }

  .read-more-btn {
    padding: 5px 10px;
  }

  #carousel-container button {
    padding: 0.5rem;
  }

  #post-form-section {
    padding: 0.5rem;
  }

  #post-form-section label {
    font-size: 12px;
  }

  #post-form-section input[type="text"],
  #post-form-section input[type="url"],
  #post-form-section input[type="date"],
  #post-form-section textarea {
    padding: 6px;
    font-size: 12px;
  }

  #post-form-section button[type="submit"],
  #create-post-btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}

button {
  background-color: #ff80ce;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

button:hover {
  background-color: black;
}

/* Filter and Thumbnails */
#filter-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.filter-btn {
  padding: 0.5rem 1rem;
  background-color: #ff80ce;
  border-radius: 5px;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 9pt;
}

.filter-btn.active {
  background-color: #363732;
}

#thumbnails-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  justify-items: center;
  margin-top: 3rem;
}

.thumbnail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0eded;
  color: #363732;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.thumbnail-item img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, border-radius 0.3s ease;
}
.thumbnail-item:hover img {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  cursor: pointer;
}

.thumbnail-content {
  text-align: center;
}

.thumbnail-author, .thumbnail-date {
  font-size: 10pt;
  color: #757575;
}

.thumbnail-content .read-more-btn {
  margin-top: 0;
}

.thumbnails-title {
  text-align: center;
  color: #363732;
  text-decoration: none;
  font-size: 15pt;
  font-weight: bold;
  margin-top: 10px;
}

.thumbnails-title:hover {
  background-color: black;
  color: #ff80ce;
}

#thumbnails {
  padding: 0 2rem;
}
#thumbnails h2 {
  color: #363732;
}

/* Responsive Thumbnails */
@media (max-width: 768px) {
  #thumbnails-container {
    grid-template-columns: 1fr;
  }

  .filter-btn {
    font-size: 10pt;
    padding: 0.5rem;
  }

  #thumbnails h2 {
    color: #363732;
  }
}
/* Pagination */
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
  gap: 1rem;
}

#pagination span {
  color: #ffffff;
}

#pagination button {
  border-radius: 9px;
  padding: 0.5rem 1rem;
  background-color: #ff80ce;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

#pagination button:hover {
  background-color: black;
  color: #ffffff;
}
/* Form container styles */
#post-form-section {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 20px;
  color: #363732;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  transition: background-color 0.5s ease;
}

#post-form-section:target {
  background-color: rgba(255, 128, 206, 0.1);
}

/* Form input and textarea styles */
#post-form input[type="text"],
#post-form input[type="url"],
#post-form input[type="date"],
#post-form textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 16px;
  resize: vertical;
}

/* Form label styles */
#post-form label {
  font-weight: bold;
  margin-top: 10px;
  display: block;
}

/* Form button styles */
#post-form button[type="submit"],
#create-post-btn, #delete-post-btn {
  background-color: #ff80ce;
  color: white;
  padding: 10px 20px;
  margin: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

#post-form button[type="submit"]:hover,
#create-post-btn:hover {
  background-color: black;
}

/* Post list item styles */
.post-item {
  display: block;
  flex-wrap: wrap;
  background-color: #fff;
  color: #363732;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 15px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

/* Ensure images inside post-item are responsive */
.post-item img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0 auto; /* Center the image */
  border-radius: 8px; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

/* Post list item buttons */
.post-item button {
  background-color: #ff80ce;
  color: #ffffff;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.post-item button:hover {
  background-color: black;
}

/* Post Page Styles */
#post-page-container {
  display: block;
  margin: 0 auto;
  padding: 30px;
  background: #f9f9f9;
  border-radius: 8px;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#post-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 40pt;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

#post-author, #post-created, #post-updated {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #666;
  text-align: left;
  margin-bottom: 10px;
  line-height: 5px;
}

#post-content {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: #333;
  line-height: 1.6;
}

#post-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 20px;
}
#post-actions {
  align-items: center;
  justify-content: center;
  margin: 30px auto;
  padding: 30px;
  
}

/* Login and Register Form container */

.form-container {
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
  width: 80%;
  max-width: 350px;
  text-align: center;
  margin: 0 auto;
}

.form-container h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.form-container label {
  display: block;
  text-align: left;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.form-container input[type="email"],
.form-container input[type="text"],
.form-container input[type="password"] {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-container button[type="submit"] {
  background-color: #ff80ce;
  color: #fff;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-container button[type="submit"]:hover {
  background-color: black;
}
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    box-sizing: border-box; /* Ensure padding and border are included in width */
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}



/* Responsive styles for smaller screens */
@media (max-width: 768px) {
  .form-container {
    padding: 1.5rem;
    width: 100%;
    box-shadow: none;
  }

  .form-container h2 {
    font-size: 1.5rem;
  }

  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container button[type="submit"] {
    font-size: 0.875rem;
    padding: 0.5rem;
  }
}

@media (max-width: 576px) {
  .form-container {
    padding: 1rem;
  }

  .form-container h2 {
    font-size: 1.25rem;
  }

  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container button[type="submit"] {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
}
  
/* Contact Form */
#contact-form {
  color: #ffffff;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #363732;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
  transition: background-color 0.5s ease;
}

/* Form label */
#contact-form label {
  display: block;
  margin-bottom: 5px;
}

/* Form input fields */
#contact-form input[type="text"],
input[type="email"],
input[type="password"],
input[type="name"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}



/* Footer Section */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #363732;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 1rem;
}

.footer-list .logo {
  flex: 1;
  text-align: center;
  margin-bottom: 1rem;
}

.nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  flex: 1;
  text-align: center;
}

.nav-links li {
  display: inline-block;
  justify-content: center;
  margin-bottom: 10px;
  list-style-type: none;
  list-style-type: none;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
}

.nav-links li a:hover {
  text-decoration: underline;
}

.social-icons {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons li {
  list-style-type: none;
}

.social-icons .button-link {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #ff80ce;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}

.social-icons .button-link:hover {
  background-color: black;
}

.social-icons p {
  margin: 0;
  font-size: 14px;
}

.social-icons .soc-med {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.social-icons img {
  width: 38px;
}

.copy {
  display: flex;
  justify-content: center;
  font-size: 14px;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .footer-list {
    flex-direction: column;
    align-items: center;
  }

  .footer-list .logo {
    margin-bottom: 1.5rem;
  }

  .nav-links {
    margin-bottom: 1.5rem;
  }

  .social-icons {
    margin-bottom: 1.5rem;
  }
}


/* Main */
main {
  padding: 2rem 5%;
  max-width: 1200px;
  margin: 0 auto;
}

#heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-container {
  display: block;
  align-items: center;
  justify-content: center;
}

/* About us section */
.about-intro,
.our-mission,
.what-we-offer,
.global-reach,
.our-team,
.commitment-to-excellence,
.why-choose-us,
.join-us {
  margin-bottom: 3rem;
}

.offerings {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.offering {
  color: #363732;
  flex: 1;
  min-width: 280px;
  background: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offering h3 {
  color: #333;
  margin-top: 0;
}
.offering p {
  color: #363732;
}
ul {
  padding-left: 1.5rem;
}

ul li {
  margin-bottom: 0.5rem;
}

/* Terms and Conditions */
.terms-section {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px 0;
}

.terms-section h2 {
  margin-top: 0;
  color: #333;
}

.terms-section p {
  color: #666;
  line-height: 1.6;
}

.terms-section ul {
  list-style: disc;
  padding-left: 20px;
}

.terms-section ul li {
  margin-bottom: 10px;
  color: #666;
}

/* Back to Top and Scroll Down Buttons */
.scroll-btn {
  position: fixed;
  right: 20px;
  bottom: 80px;
  background-color: #ff80ce;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  display: none;
  z-index: 1000;
}

#back-to-top {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  justify-content: center;
  align-items: center;
  bottom: 250px;
}

#scroll-down {
  bottom: 20px;
}

.scroll-btn:hover {
  background-color: black;
}

@media (max-width: 768px) {
  .scroll-btn {
    font-size: 12px;
    padding: 8px 16px;
  }
}

