body {
    margin: 0;
    padding: 0;
    background-image: url('/assets/hotview_bg.jpeg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    box-sizing: border-box;
    font-family: 'Montserrat', 'Just Another Hand', Arial, sans-serif;
    color: #ffffff;
  }

  h1, ul {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-family: 'Just Another Hand';
    font-size: 100pt;
    font-weight: 100;
  }

  header {
    color: white;
    padding: 1rem;
    text-align: center;
  }
  nav {
    background-color: transparent;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo img{
    width: 144px;
    height: 144px;
    border-radius: 50%;
  }

  nav ul {
    list-style-type: none;
    display: flex;
  }

  nav ul li a {
    color: #ffffff;
    text-decoration: none;
  }

  nav ul li {
    margin-left: 20px;
  }
  /* Form */
  
  /* Form container */
form {
  color: #363732;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

/* Form label */
label {
  display: block;
  margin-bottom: 5px;
}

/* Form input fields */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="name"],
input[type="url"], textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Form submit button */
button[type="submit"] {
  background-color: #ff80ce;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
}

button[type="submit"]:hover {
  background-color: #363732;
}

   
/* Main section */

/* Basic styling for the carousel */
main {
  padding: 1rem;
}

/* Basic styling for the carousel */

#carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

#carousel > div {
  min-width: 100%;
  box-sizing: border-box;
}

#carousel img {
  width: 100%;
  height: auto;
  display: block;
}
#carousel-container button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #ff80ce;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}


#prev-btn {
  left: 0;
}

#next-btn {
  right: 0;
}

#filter-nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* Posts Grid */
.filter-btn {
  padding: 0.5rem 1rem;
  background-color: #ff80ce;
  border-radius: 9px;
  color: white;
  border: none;
  cursor: pointer;
}

.filter-btn.active {
  background-color: #363732;
}

#thumbnails-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

#thumbnails img {
  max-width: 100%;
  height: auto;
  display: block;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  gap: 1rem;
}

#pagination button {
  border-radius: 9px;
  padding: 0.5rem 1rem;
  background-color: #ffffff;
  color: #ff80ce;
  border: none;
  cursor: pointer;
}





/* Footer section */

footer {
  display: flex;
  flex-direction: column; /* Change to column layout */
  justify-content: center;
  align-items: center;
  background-color: #363732;
  color: #fff;
  text-align: center;
  padding: 1rem;
}

.footer-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}
.footer-list .logo {
  padding-right: 150px;
}

/* Navigation Links */
.nav-links {
  list-style-type: none;
  padding: 50px;
}

.nav-links li {
  margin-right: 20px;
  padding: 10px 15px;
}

.nav-links li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
}

/* Buttons */
footer button {
  background-color: #ff80ce;
  border: none;
  border-radius: 9px;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin: 5px; /* Add some margin */
}

/* Social Media Icons */
.social-icons {
  display: flex; /* Change to flex layout */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0; /* Remove default padding */
  margin-top: 20px; /* Adjust margin as needed */
}

.social-icons li {
  margin: 0 10px; /* Adjust margin as needed */
}
.social-icons .soc-med li{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-icons img {
  width: 38px;
}

.copy {
  display: flex;
  justify-content: center;
  font-size: 12px;
  margin-top: 20px; /* Add margin to separate from above content */
}



/* About us section */
.about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  padding: 50px;
}


/* Container styles */
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Form label styles */
label {
    font-weight: bold;
}

/* Input and textarea styles */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 9px;
}

/* Button styles */
button[type="submit"] {
    background-color: #ff80ce;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 9px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #363732;
}

/* For mobile devices */
@media only screen and (max-width: 600px) {
  .logo img {
      width: 100px; /* Adjust as needed */
      height: 100px; /* Adjust as needed */
  }

  header {
      padding: 10px; /* Adjust as needed */
  }

  nav ul li {
      margin-left: 10px; /* Adjust as needed */
  }

  .heading {
      font-size: 36pt; /* Adjust as needed */
  }

  .carousel-container {
      max-width: 90%; /* Adjust as needed */
  }

  .carousel img {
      width: 100%;
      height: auto;
  }

  .blog-grid {
      grid-template-columns: repeat(1, 1fr); /* Adjust as needed */
  }

  .pagination,
  .filter-buttons {
      padding: 10px; /* Adjust as needed */
  }

  .social-icons img {
      width: 30px; /* Adjust as needed */
  }

  .copy {
      font-size: 10px; /* Adjust as needed */
  }
}

/* For tablets */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  .logo img {
      width: 120px; /* Adjust as needed */
      height: 120px; /* Adjust as needed */
  }

  .heading {
      font-size: 48pt; /* Adjust as needed */
  }

  .carousel-container {
      max-width: 90%; /* Adjust as needed */
  }

  .blog-grid {
      grid-template-columns: repeat(2, 1fr); /* Adjust as needed */
  }
}

/* For larger screens */
@media only screen and (min-width: 1025px) {
  .carousel-container {
      max-width: 800px; /* Adjust as needed */
  }

  .blog-grid {
      grid-template-columns: repeat(3, 1fr); /* Adjust as needed */
  }

  .copy {
      font-size: 12px; /* Adjust as needed */
  }
}
